body {
  height: auto;
  margin: 0;
}

.wrapper {
  .nav-grid {
    width: 7%;
    float: left;
    background-color: #ffffff;
    min-height: auto;
  }

  .left-nav {
    width: 100vh;
    height: 45px;
    position: fixed;
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);

    .nav {
      margin: 0px 0px 0px 30px;
      li {
        list-style: none;
        margin: 6px 20px;
        float: left;
        height: 100%;
        line-height: 90px;
        a {
          text-decoration: none;
          color: $nav-text-color;
        }
        &:hover {
          border-top: solid 2px #ea3c53;
        }
      }
      .web-logo {
        float: right;
        transform: rotate(90deg);
        img {
          margin: 20px;
        }
      }
    }
  }

  .content {
    h2 {
      align-content: center;
    }
    width: 93%;
    float: left;
  }

  .section1 {
    min-height: 680px;

    .panorama {
      min-height: 680px;
      width: 70%;
      float: left;
      background-color: #808080;
    }

    .destination {
      min-height: 680px;
      width: 30%;
      float: left;
      background-color: #696969;
    }
  }

  .section2 {
    height: 680px;

    .white-space {
      min-height: 680px;
      width: 20%;
      float: left;
      background-color: #c0c0c0;
    }

    .article {
      min-height: 680px;
      width: 80%;
      float: left;
      background-color: #a9a9a9;
    }
  }

  .section3 {
    height: 200px;
    background-color: #696969;
  }

  .section4 {
    height: 680px;
    background-color: #808080;
  }
}
