@import "mixins";

body {
  height: auto;
  margin: 0;
}

.wrapper {
  .js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }

  .js-scroll.scrolled {
    opacity: 1;
  }

  .nav-grid {
    @include grid-box(left, 7%);
    background-color: #ffffff;
    min-height: auto;
  }

  .left-nav {
    width: 100vh;
    height: 45px;
    position: fixed;
    transform-origin: left top;
    transform: rotate(-90deg) translateX(-100%);

    .nav {
      margin: 0px 0px 0px 30px;

      li {
        list-style: none;
        margin: 6px 20px;
        float: left;
        height: 100%;
        line-height: 90px;
        a {
          text-decoration: none;
          color: $nav-text-color;
          font-family: $navbar-font;
        }

        &:hover {
          border-top: solid 2.5px #e77483;
        }
      }

      .active {
        border-top: solid 2.5px #e77483;
      }

      .web-logo {
        float: right;
        transform: rotate(90deg);
        img {
          margin: 36px;
        }
      }
    }
  }

  .content {
    h2 {
      align-content: center;
    }
    @include grid-box(left, 93%);
  }

  .section1 {
    min-height: 680px;
    border-left: solid 3px #f5f5f5;

    .panorama {
      @include grid-box(left, 70%);
      min-height: 680px;
      position: relative;
      margin-top: 15px;
      background-image: url("/uploads/panorama.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      .top-middle-stick {
        @include box-position(89%, 60%);
        height: 76px;
        width: 2px;
        background-color: #ffffff;
        position: absolute;
      }

      .panorama-context {
        margin: 0px 30px;
        top: 62%;
        position: absolute;

        .title-collider {
          position: relative;
          h1 {
            color: $panorama-text-color;
            font-weight: normal;
            margin: 0px 15px;
            font-size: 75px;
          }

          h4 {
            color: $panorama-text-color;
            opacity: 0.9;
            margin: 22px 22px 0px;
            font-style: italic;
            font-weight: normal;
          }

          .rectangle {
            background-color: #ffffff;
            opacity: 0.5;
            height: 50px;
            position: absolute;
            width: 100%;
            top: 65%;
          }
        }

        .social-media {
          display: flex;
          height: 100%;
          margin: 20px 5px;
          padding: 35px 0px;

          .facebook {
            float: left;
            margin: 0px 15px;

            &:hover {
              transform: scale(1.2);
            }
          }

          .instagram {
            float: left;
            margin: 0px 15px;

            &:hover {
              transform: scale(1.2);
            }
          }

          .twitter {
            float: left;
            margin: 0px 15px;

            &:hover {
              transform: scale(1.5);
            }
          }
        }
      }
    }

    .destination {
      @include grid-box(left, 30%);
      min-height: 695px;
      position: relative;

      .destination-container {
        margin: 15px 70px;
        position: absolute;

        .destination-box {
          transition: box-shadow 0.3s;
          margin: 50px 20px;
          padding: 15px;
          .destination-header {
            height: 20px;
            .destination-title {
              @include grid-box(left, 50%);
              h3 {
                margin: 0px;
                font-family: $destination-title;
              }
            }
            .destination-icon {
              @include grid-box(left, 40%);
              text-align: right;
              padding-right: 5px;
            }
          }

          .destination-description {
            p {
              font-size: 15px;
              opacity: 0.5;
              font-family: $destination-description;
            }
          }

          .destination-footer {
            height: 40px;
            border-top: solid 3px #f5f5f5;
            p {
              color: #c4c4c4;
              font-size: 14px;
              font-style: italic;
              margin: 10px 0px;
              font-family: $destination-footer-font;
            }
            .footer-context {
              @include grid-box(left, 50%);
            }
            .footer-date {
              @include grid-box(left, 50%);
              text-align: right;
            }
          }
          &:hover {
            box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
          }
        }
      }
    }
  }

  .section2 {
    height: 680px;
    border-left: solid 3px #f5f5f5;
    position: relative;

    .side-rectangle {
      background-color: #808080;
      opacity: 0.09;
      height: 336px;
      position: absolute;
      right: 0;
      top: 35%;
      width: 56%;
    }

    .bottom-middle-stick {
      @include box-position(2%, 42%);
      height: 76px;
      width: 2px;
      background-color: #d5d5d5;
      position: absolute;
    }

    .article {
      @include box-position(15%, 20%);
      position: absolute;
      padding: 0px 25px;
      width: 26.5%;
      background-color: #ffffff;

      .article-date {
        p {
          color: #c4c4c4;
          font-size: 14px;
          font-style: italic;
          margin: 10px 0px;
          font-family: $destination-footer-font;
        }
      }

      h2 {
        font-size: 35px;
      }

      .article-paragraph {
        padding-top: 5px;
        p {
          opacity: 0.5;
          font-family: $destination-description;
          padding: 5px 0px;
        }
      }
    }

    .side-carousel-text {
      width: 180px;
      text-align: right;
      height: 60px;
      position: absolute;
      top: 20%;
      right: 30%;
      transform-origin: left top;
      transform: rotate(-90deg) translateX(-100%);

      .bottom-carousel-text {
        @include grid-box(left, 50%);
        p {
          font-weight: bold;
        }
      }
      .top-carousel-text {
        @include grid-box(left, 50%);
        text-align: right;
        p {
          color: #c4c4c4;
          font-size: 14px;
          font-style: italic;
          font-family: $destination-footer-font;
        }
      }
    }

    .mini-carousel-image {
      background-image: url("/uploads/bridge.jpeg");
      background-size: cover;
      position: absolute;
      top: 15%;
      right: 15%;
      height: 350px;
      width: 350px;
    }
  }

  .section3 {
    height: 215px;
    border-left: solid 3px #f5f5f5;
    position: relative;

    .quotes {
      position: absolute;
      height: 85px;
      border-left: solid 4px #e77483;
      width: 64%;
      left: 12%;

      p {
        font-family: $destination-description;
        opacity: 0.4;
        font-style: italic;
        padding: 0px 35px;
        font-size: 27px;
        margin: 11px 0px;
      }
    }
  }

  .section4 {
    height: 680px;
    border-left: solid 3px #f5f5f5;
    position: relative;

    .carousel-image {
      position: absolute;
      background-image: url("/uploads/forest.jpg");
      background-size: cover;
      height: 500px;
      width: 66%;
      top: 5%;
    }

    .location-overlay {
      position: absolute;
      height: 335px;
      background-color: #ffffff;
      width: 50%;
      top: 45%;
      right: 0;

      .location-left-container {
        @include grid-box(left, 50%);
        padding: 45px 0px 20px 50px;

        .location-title {
          h1 {
            font-weight: normal;
            margin: 5px 0px;
            font-size: 75px;
          }
        }

        .location-subtitle {
          height: 25px;

          p {
            margin: 5px 0px;
          }

          .location-suburb {
            @include grid-box(left, 30%);
            p {
              font-weight: bold;
            }
          }
          .journey-length {
            @include grid-box(left, 65%);
            p {
              color: #c4c4c4;
              font-size: 14px;
              font-style: italic;
              font-family: $destination-footer-font;
            }
          }
        }

        .location-description {
          width: 70%;
          p {
            font-style: italic;
            opacity: 0.3;
            font-size: 20px;
            margin: 25px 0px;
          }
        }
      }

      .location-right-container {
        @include grid-box(left, 40%);
        position: relative;
        padding: 45px 0px 20px 0px;
        height: 200px;

        .location-buttons {
          @include box-position(58%, 30%);
          position: absolute;

          .right-button {
            @include grid-box(left, 50%);
            margin: 0px 7px;
            box-sizing: border-box;
            display: block;
            width: 45px;
            height: 45px;
            border: 2.5px solid #f5f5f5;
            border-radius: 50%;
            text-align: center;
            transition: all 0.3s ease;

            &:hover {
              border: solid 2.5px #e77483;
            }

            .right-icon {
              @include box-position(26%, 69%);
              position: absolute;

              img {
                width: 50%;
                height: 50%;
              }
            }
          }
          .left-button {
            @extend .right-button;

            .left-icon {
              @include box-position(72%, 17%);
              transform-origin: left top;
              transform: rotate(-180deg) translateX(-100%);
              position: absolute;

              img {
                width: 50%;
                height: 50%;
              }
            }
          }
        }
      }
    }
  }
}
